body {
    background-image: url("https://am24.mediaite.com/tms/cnt/uploads/2020/03/everything-is-fine-dog.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1, h2, h3 {
    text-align: center;
    color: orange;
}

#restart-game {
    background-color: yellow;
    color: black;
    font-size: 25px;
    margin: auto;
    width: 300px;
    height: 100px;
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-bottom: auto;
    padding: 10px;
    background: red;
}

a:hover {
    color: orange;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Comic Sans MS;
}

#board {
    width: 600px;
    height: 600px;
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap;
    background: orange;
}

.square {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    box-sizing: border-box;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.blink{
    background: yellow;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}
